*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

.hero{
    background:linear-gradient(135deg,#1e293b,#334155);
    color:white;
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
}

.hero button{
    padding:12px 25px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
    background:white;
    transition:0.3s;
}

.hero button:hover{
    background:#e5e5e5;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:white;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:20px;
}

.navbar a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}

.navbar a:hover{
    color:#4f46e5;
}
.features{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:50px 20px;
    flex-wrap:wrap;
}

.feature{
    width:280px;
    padding:35px 25px;
    border-radius:20px;
    background:white;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    text-align:left;
    transition:all 0.3s ease;
    border:1px solid #f1f5f9;
}

.feature:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(0,0,0,0.12);
}
.feature h2{
    font-size:22px;
    font-weight:600;
    margin-bottom:15px;
    color:#1e293b;
}

.feature p{
    font-size:15px;
    line-height:1.7;
    color:#64748b;
}
footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}
@media (max-width: 768px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .navbar ul{
        flex-direction:column;
        align-items:center;
    }

    .hero h1{
        font-size:35px;
    }

    .hero p{
        font-size:18px;
    }

    .feature{
        width:90%;
    }

}